{% extends "base.html" %}
{% block content %}

{% for post in posts %}
<article>
    <h2><a href="{% url 'postPage' post.id %}"> {{ post.title }} </a></h2>
    <hr>
    <p><span class="glyphicon glyphicon-time"></span> Posted on: {{ post.created }}</p>
    <hr>
    <p>{{ post.body }}</p>
        <ul class="listOfTags">
        {% for tag in post.tags.all %}
                        {% comment %}Запятая после всех слов, кроме последнего{% endcomment %}
            <li><a href="{% url 'postByTag' tag %}">{{ tag }}{% if not forloop.last %},{% endif %}</a></li>
        {% endfor %}
        </ul>
</article>
{% endfor %}
{% endblock %}